* {
  margin: 0;
  padding: 0;
}
.container {
  padding: 0 1em;
}
.form-error {
  color: red;
  font-weight: 700;
  letter-spacing: 0.04em;
}
.navbar-default .navbar-nav > li > a {
  cursor: pointer;
}
.login-component {
  text-align: center;
}
.login-component .login-component-form {
  text-align: left;
}
.login-component .login-component-form #login-submit {
  margin-bottom: 1em;
}
.product-search-component .search-form {
  text-align: center;
  margin-bottom: 1em;
}
.product-search-component .search-form .form-group {
  margin-right: 1em;
}
.product-search-component .search-form .form-group label {
  margin-right: 1em;
}
.product-search-component .list-grid-view {
  padding: 0;
}
.product-search-component .list-grid-view .glyphicon {
  margin-right: 5px;
}
.product-search-component .list-grid-view #products {
  padding: 0 1em;
}
@media (max-width: 768px) {
  .product-search-component .search-form {
    text-align: left;
  }
}
@media (max-width: 700px) {
  .product-search-component .list-grid-view #products .list-group-item .list-group-image {
    max-width: none;
    max-height: 250px;
    float: none;
    margin-right: auto;
    margin-bottom: 1em;
  }
}
.product-card-component .item .thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.product-card-component .item .thumbnail img {
  max-width: 250px;
  float: left;
}
.product-card-component .item .thumbnail .caption {
  overflow: hidden;
}
.product-card-component .item .thumbnail .caption .caption-item {
  margin-bottom: 1em;
}
.product-card-component .item .thumbnail .add-to-wishlist {
  color: #333;
  background-color: #edd417;
  border-color: #edd417;
}
.product-card-component .item .thumbnail .list-group-item-text {
  list-style-type: none;
}
.product-card-component .item .thumbnail .price {
  font-weight: 700;
  font-size: 1.25em;
}
.product-card-component .list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}
.product-card-component .list-group-item .list-group-image {
  margin-right: 10px;
}
.product-card-component .list-group-item .thumbnail {
  margin-bottom: 0px;
  background-color: transparent;
  border: none;
}
.product-card-component .list-group-item .caption {
  padding: 9px 9px 0px 9px;
}
.product-card-component .list-group-item img {
  float: left;
}
.product-card-component .list-group-item .list-group-item-text {
  margin: 0 0 11px;
}
.product-card-component .list-group-item:nth-of-type(odd) {
  background: #eeeeee;
}
.product-card-component .list-group-item:nth-of-type(odd):hover,
.product-card-component .list-group-item:hover {
  background: #b6c8d8;
}
.product-card-component .list-group-item:before,
.product-card-component .list-group-item:after {
  display: table;
  content: " ";
}
.product-card-component .list-group-item:after {
  clear: both;
}
.wishlist-component .list-grid-view {
  padding: 0;
}
.wishlist-component .list-grid-view .glyphicon {
  margin-right: 5px;
}
.wishlist-component .list-grid-view #products {
  padding: 0 1em;
}
@media (max-width: 700px) {
  .wishlist-component .list-grid-view #products .list-group-item .list-group-image {
    max-width: none;
    max-height: 250px;
    float: none;
    margin-right: auto;
    margin-bottom: 1em;
  }
}
/*# sourceMappingURL=index.css.map */