.product-search-component {
  .search-form {
    text-align: center;
    
    .form-group {
      margin-right: 1em;
      
      label {
        margin-right: 1em;
      }
    }
  }
}

@media (max-width: 768px) {
  .product-search-component {
    .search-form {
      text-align: left;
    }
  }
}